meshmixer/printers/printer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="PrinterList">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="Printer"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>

    <xs:simpleType name="dimension">
        <xs:restriction base="xs:float">
            <xs:minExclusive value="0.0"></xs:minExclusive>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name='listOfDimensions'>
        <xs:list itemType='dimension'/>
    </xs:simpleType>

    <xs:simpleType name='volume'>
        <xs:restriction base='listOfDimensions'>
            <xs:length value='3'></xs:length>
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="Printer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UUID" type="guid" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Manufacturer" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="IsPrintService" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="DisplayName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Technology" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="PrintVolume" type="volume" minOccurs="1" maxOccurs="1"/>
                <xs:element name="BedShape" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="MinNozzleTemperature" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="MaxNozzleTemperature" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="MaxTemperature" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="MinBuildPlateTemperature" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="MaxBuildPlateTemperature" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="MinLayerHeight" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="MaxLayerHeight" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="MaxModelWeight" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="NozzleDiameter" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="FilamentDiameter" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="ResolutionX" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="ResolutionY" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="ResolutionZ" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="XYResolution" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="LayerSpeed" type="xs:float" minOccurs="0" maxOccurs="1"/>
                <xs:element name="MaxMaterials" type="xs:int" minOccurs="0" maxOccurs="1"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="MaterialTypes"/>
                <xs:element name="Icon" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Software"/>
                <xs:element name="Visible" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

<xs:element name="MaterialTypes">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="MaterialType" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="Software">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="appName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="fileType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="appPath" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="arguments" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>


</xs:schema>

